:root {
    --bg-primary: #080B12;
    --bg-secondary: #0F1420;
    --bg-card: #151C2B;

    --blue-primary: #2563EB;
    --blue-light: #3B82F6;

    --text-primary: #F1F5F9;
    --text-secondary: #94A3B8;

    --border: #26334A;
}

.video-container{
    video{
        width: 390px;

    }
}